@import "tailwindcss";
body {
  margin: 0;

  display: block !important;
  min-height: 100vh;
}

#root {
  width: 100%;
  max-width: none !important; 
  margin: 0 !important;
 
  
  display: block !important;
}